<% provide(:title, 'Facilities') %>
<h1>Facilities</h1>

<% if @facilities.empty? %>
<h4 class="muted center">Empty</h4>
<% else %>
<div class="table-responsive">
  <table class="table table-striped">
        <thead>
          <tr>
            <th>Facility #</th>
            <th>Name</th>
            <th>Facility Type</th>
            <th>District</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @facilities.each do |facility| %>
          <tr>
            <td><%= facility.facility_no %></td>
            <td><%= link_to facility.name, facility %></td>
            <td><%= facility.facility_type.name %></td>
            <td><%= facility.district.name %></td>
            <td>
              <%= link_to "edit", edit_facility_path(facility), class: 'btn btn-primary' %>
              <%= link_to "delete", facility, method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: 'btn btn-danger' %>
            </td>
          </tr>
      <% end %>
        </tbody>
    </table>
</div>
<%= will_paginate @facilities %>
<% end %>

<%= form_tag new_facility_path, method: "get" do %>
  <%= submit_tag("New Facility", class: "btn btn-primary") %>
<% end %>

<div>
<h4>Import a CSV File</h4>
  <%= form_tag import_facilities_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag("Import CSV", class: "btn btn-small") %>
  <% end %>
</div>