<tr>
   	<td><%= result.facility.facility_no %></td>
    <td><%= result.facility.name %></td>
    <td><%= result.facility.district.name %></td>
    <td><%= result.facility.district.region.name %></td>
    <td><%= result.facility.name %></td>
</tr>