<tr>
   	<td><%= result.facility_id %></td>
    <td><%= result.facility.name %></td>
    <td><%= result.facility.name %></td>
    <td><%= result.facility.name %></td>
    <td><%= result.facility.name %></td>
</tr>