<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "MDH - EQA", root_path, id: "logo" %>
				<nav>
					<ul class="nav pull-right">
    					<% if signed_in? %>
    						<li><%= link_to "Home", root_path %></li>
    						<li><%= link_to "Facilities", root_path %></li>
    						<li><%= link_to "Samples", eqa_tests_path %></li>
    						<li><%= link_to "Reports", reports_path %></li>
            				<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          				<% end %>
					</ul>
				</nav>
			</div>
		</div>
</header>